<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <title>Simple BlogApp</title>
</head>

<body>
    <div class="ui inverted fixed menu">
        <div class="ui container">
            <div class="header item"><i class="icon code" id="c"></i>Blog Site</div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">New Post</a>
            
        </div>
    </div>